@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Nunito+Sans:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #4E72A8;
  --bg-secondary: #8c8c8c;

  --text-primary: #fbfbfb;
  --text-secondary: #585858;
  --red-violet: #aa18a3;
}

.dark,
[data-theme="dark"] {
  --bg-primary: #131416;
  --bg-secondary: #1c1c1c;

  --text-primary: #fbfbfb;
  --text-secondary: #dedede;
}

html,
body {
  font-family: "Nunito Sans";
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.input-global {
  width: 250px;
  height: 40px;
  outline: none;
  color: #1c1c1c;
  font-size: 16px;

}